extends baseEmail
block content
  p Salut #{name},
  p Votre enregistrement s'est effectué avec succès! 🎉🙏
  p Nous vous contacterons par la suite!
  table( border-collapse: collapse)
    tr(style="border:1px solid #ccc")
        th Nom
        td(style="text-align:center")= data.nom
    tr(style="border:1px solid #ccc")
        th Postnom
        td(style="text-align:center") MALONDA
    tr(style="border:1px solid #ccc")= data.postnom
        th Prénom
        td(style="text-align:center") MALONDA
    tr(style="border:1px solid #ccc")= data.prenom
        th Lieu de naissance
        td(style="text-align:center") MALONDA
    tr(style="border:1px solid #ccc")
        th Date de naissance
        td(style="text-align:center")= data.lieu_naissance
    tr(style="border:1px solid #ccc")
        th Téléphone
        td(style="text-align:center")= data.telephone
    tr(style="border:1px solid #ccc")
        th Email
        td(style="text-align:center")= data.email
    tr(style="border:1px solid #ccc")
        th Numéro passeport
        td(style="text-align:center")= data.numero_passeport
    tr(style="border:1px solid #ccc")
        th Date de delivrance
        td(style="text-align:center")= data.date_delivrance
    tr(style="border:1px solid #ccc")
        th Date d'expiration
        td(style="text-align:center")= data.date-expiration
    tr(style="border:1px solid #ccc")
        th Autorité émetrice
        td(style="text-align:center")= data.autorite_emettrice
    tr(style="border:1px solid #ccc")
        th Pays de provenance
        td(style="text-align:center")= data.pays_provenance
    tr(style="border:1px solid #ccc")
       th Date d'arrivée
       td(style="text-align:center")= data.date_arrivee
    tr(style="border:1px solid #ccc")
      th Date de départ
      td(style="text-align:center")= data.date_depart
    tr(style="border:1px solid #ccc")
      th Durée du sejour
      td(style="text-align:center")= data.duree_sejour
    tr(style="border:1px solid #ccc")
      th Motif
      td(style="text-align:center")= data.motif
    tr(style="border:1px solid #ccc")
      th Profession
      td(style="text-align:center")= data.profession
    tr(style="border:1px solid #ccc")
      th Activités
      td(style="text-align:center")= data.activites
    tr(style="border:1px solid #ccc")
      th Adress à Kinshasa
      td(style="text-align:center")= data.adresse_kinshasa
    tr(style="border:1px solid #ccc")
      th Lieu logement
      td(style="text-align:center")= data.lieu_logement
  p - République Démocratique du Congo. Ministère  de la sante.
